/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.title {
    margin-left: 0em;
    padding: .5em;
    color: #000000;
    background: #C0C0C0;
    text-align: center;
    width: 100%;
}

input {
    background: #EEE;
    min-width: 250px;
    max-height: 20px;
}

.errors {
    margin: 0em;
    padding: 1em;
    color: #A22;
    background: #FDD;
}